@import "@fontsource/rubik/400.css";
@import "@fontsource/rubik/500.css";
@import "@fontsource/rubik/600.css";
@import "@fontsource/rubik/700.css";
@import "@fontsource/jost/400.css";
@import "@fontsource/jost/500.css";
@import "@fontsource/jost/600.css";
@import "@fontsource/satisfy/400.css";
@import "@fontsource/amaranth/400.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-rubik);
  color: var(--black);
  background: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}



