:root {
  --white: #ffffff;
  --black: #100c08;
  --green: #63ab45;
  --green-dark: #4a8631;
  --orange: #fbb03b;
  --gray-900: #1d231f;
  --gray-800: #13141a;
  --gray-700: #222222;
  --gray-600: #787878;
  --gray-500: #333333;
  --gray-200: #eeeeee;
  --gray-150: #f5f5d3;
  --gray-120: #feeed5;
  --gray-110: #ddeed6;
  --sand: #fffcea;

  --font-rubik: "Rubik", sans-serif;
  --font-jost: "Jost", sans-serif;
  --font-satisfy: "Satisfy", cursive;
  --font-amaranth: "Amaranth", sans-serif;

  --radius-lg: 35px;
  --radius-md: 28px;
  --radius-sm: 10px;
  --radius-xs: 5px;

  --shadow-card: 0 15px 50px #0000000f;
  --shadow-btn: 0 8px 18px #63ab4522;

  --container-max: 1320px;
}



